@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- custom styles AFTER Tailwind ---- */

@media print {
  header,
  footer {
    display: none !important;
  }

  main {
    max-width: 100% !important;
    padding: 0 !important;
  }

  article {
    page-break-inside: avoid;
  }

  body {
    background: white !important;
    color: black !important;
  }
}
